<%= render "shared/header" %>

    <h1 class="subject">
      新着業務一覧
    </h1>


  <div class="middle_content">
    <div class="company_information">
      <% @business.each do |business| %>
        <%= link_to company_business_path(business.company.id, business.id) do %>
          <ul class="divided_company_info">
              <li class = "business_company_image">
                <%= image_tag business.image, class:"business_img" %>
              </li>
              <li class = "business_company_name">
                <%=business.company.company_name %>
              </li>
              <li class="business_content">
                <%= business.content%>
              </li>
              <li class="business_reward">
                <%= business.reward%>
              </li>

                <div id="like-btn-<%= business.id %>">
                  <%= render partial: 'likes/like', locals: {business: business} %>
                </div>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="low_content">
    <h1 class="subject">
       人気の業務一覧
    </h1>

    <div class = "company_ranking">
      <% @business.each do |business| %>
          <%= link_to company_business_path(business.company.id, business.id) do %>
            <ul class="divided_company_ranking">
                <li class = "business_company_image">
                  <%= image_tag business.image, class:"business_img" %>
                </li>
                <li class = "business_company_name">
                  <%=business.company.company_name %>
                </li>
                <li class="business_content">
                  <%= business.content%>
                </li>
                <li class="business_reward">
                  <%= business.reward%>
                </li>

                <div id="like-btn-<%= business.id %>">
                  <%= render partial: 'likes/like', locals: {business: business} %>
                </div>
                
            </ul>
          <% end %> 
       <% end %>
    </div>

  </div>


<%= render "shared/footer" %>