<%= render "shared/header" %>

  <div class="top_content">
    <h1>
      企業一覧
    </h1>
  </div>

  <div class="middle_content">
    <div class="company_information">
    <% @business.each do |business|%>
      <ul class="divided_company_info">
          <li class = "top">
            <%=  %>
          </li>
          <li class="middle">
            <%= business.content%>
          </li>
          <li class="low">
            <%= business.reward%>
          </li>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="low_content">
    <h1>
      人気の業務一覧
    </h1>
    ここにいいね件数の多い会社を出力する
  </div>


<%= render "shared/footer" %>