<%= render "shared/header" %>
<div class = "business_info">

  <div>
    <%= image_tag @business.image, class:"business_img" %>
  </div>

  <table border = "1">
    <tr>
      <tr align = "center">
        <td>会社名</td>
        <td><%= @business.company.company_name %></td>
      </tr>

      <tr align = "center">
        <td>職種</td>
        <td><%= @business.content %></td>
      </tr>

      <tr align = "center">
        <td>配属場所</td>
        <td><%= @business.department %></td>
      </tr>

      <tr align = "center">
        <td>契約期間</td>
        <td><%= @business.period %></td>
      </tr>

      <tr align = "center">
        <td>報酬</td>
        <td><%= @business.reward %></td>
      </tr>

      <tr align = "center">
        <td>募集人数</td>
        <td><%= @business.number %></td>
      </tr>

      <tr align = "center">
        <td>掲載企業からのメッセージ</td>
        <td><%= @business.comment %></td>
      </tr>

      <tr align = "center">
        <td>必要とするスキル</td>
        <td><%= @business.skill %></td>
      </tr>
    </tr>
  </table>

  <p>
    下のボタンをクリックするとあなたの登録内容が企業側へ送信されます。
    <br>今後のやり取りに関しましては、登録時のメールアドレス宛に企業側の担当者より直接連絡がございます。
  </p>

  
    <% unless AppliedWork.where(business_id:@business.id , student_id: current_student.id).exists? %>
      <%= button_to "応募する", company_business_applied_works_path(@business.company.id, @business.id) %>
    <% else %>
      <%= "既に応募しています。企業様からの結果をお待ちください。" %>
    <% end %>
  

</div>

<%= render "shared/footer" %>