<%= render "shared/header" %>
<div class = "business_info">

  <h4>
    <%= @business.company.company_name %>
  </h4>

  <div>
    <%= image_tag @business.image, class:"business_img" %>
  </div>

  <h3>職種</h3>
  <div>
    <%= @business.content %>
  </div>

  <h3>配属場所</h3>
  <div>
    <%= @business.department %>
  </div>

  <h3>契約期間</h3>
  <div>
    <%= @business.period %>
  </div>

  <h3>報酬</h3>
  <div>
    <%= @business.reward %>
  </div>

  <h3>募集人数</h3>
  <div>
    <%= @business.number %>
  </div>

  <h3>掲載企業からのメッセージ</h3>
  <div>
    <%= @business.comment %>
  </div>

  <h3>募集人数</h3>
  <div>
    <%= @business.skill %>
  </div>

  <div>
    下のボタンをクリックするとあなたの登録内容が企業側へ送信されます。
    今後のやり取りに関しましては、登録時のメールアドレス宛に企業側の担当者より直接連絡がございます。
  </div>
  <%= link_to "申し込み", company_business_contracted_works_path(@business.company.id, @business.id) %>

</div>

<%= render "shared/footer" %>