<%= render "shared/header" %>

<div>
  <%= @business.image %>
</div>

<div>
  <%= @business.content %>
</div>

<div>
  <%= @business.department %>
</div>

<div>
  <%= @business.period %>
</div>

<div>
  <%= @business.reward %>
</div>

<div>
  <%= @business.number %>
</div>

<div>
  <%= @business.comment %>
</div>

<div>
  <%= @business.skill %>
</div>

<%= render "shared/footer" %>