<%= render "shared/header" %>

<h1><%= current_company.company_name+"様 用ページ" %></h1>
<h3><%= "応募中の業務" %></h3>
<%=@applied_work.business.content%>

<h3><%= "申込者一覧" %></h3>
<%=@applied_work.student.family_name%>

<%= render "shared/footer" %>