<%= render "shared/header" %>

<h1 class="subject"><%= "申込者一覧" %></h1>

<% if @applied_works.present? then %>
  <% @applied_works.each do |appliedwork| %>
  
  <table>
    <tr>
      <th>姓</th>
      <th>名</th>
      <th>大学</th>
      <th>誕生日</th>
      <th>学年</th>
      <th>学生詳細ページ</th>
      <th>現在の状況</th>
    </tr>
    <tr align="center">
      <td><%= appliedwork.student.first_name %></td>
      <td><%= appliedwork.student.last_name %></td>
      <td><%= appliedwork.student.university %></td>
      <td><%= appliedwork.student.birthday %></td>
      <td><%= appliedwork.student.year %></td>
      <td><%= link_to "移動する", student_path(id:appliedwork.student.id) %></td>

        <%= form_with  do |f| %>
          <td align ="center"><%= f.select :status, [["未対応", 1], ["採用予定", 2], ["お見送り",3], ["交渉中",4], ["口コミ待ち",5], ["終了",6]] %></td>
          <td><%= f.submit "更新"%></td>
        <% end %>
    </tr>
  </table>
  <% end %>
<% else %>
  <%= "まだ応募はきていません。もうしばらくお待ちください。"%>
<% end %>
<%= render "shared/footer" %>