<%= render "shared/header" %>

<% if @students.present? then %>
  <% @students.each do |student| %>
    <table border = "1" >
      <tr align="center">
        <tr>
          <td><%= student.first_name + " " + student.last_name %></td>
        </tr>

        <tr>
          <td><%= student.university %></td>
        </tr>

        <tr>
          <td><%= student.student_introduction %></td>
        </tr>

        <tr>
          <td><%= student.skill %></td>
        </tr>

        <tr>
          <td><%= student.birthday %></td>
        </tr>

        <tr>
          <td><%= student.year %></td>
        </tr>

        <tr>
          <td><%= "下のプルダウンより、ステータスを変更してください。※一度採用予定、お見送りにしてしまうと再度選択できませんのでご注意ください。" %></td>
        </tr>

        <tr>
          <%= form_with model: @statu do |f| %>
            <td><%= f.select :status, [["未対応", 1], ["採用予定", 2], ["お見送り",3], ["交渉中",4]] %></td>
            <tr>
              <td><%= f.submit "ステータス変更"%></td>
            </tr>
          <% end %>
        </tr>
      </tr>

  <% end %>
<% end %>

<%= render "shared/footer" %>