<%= render "shared/header" %>

<% if @student.present? then %>
  <% @student.each do |student| %>

    <table>
      <tr>
        <th colspan="2">学生情報</th>
      </tr>
      
      <tr>
        <td align ="center">名前</td>
        <td align ="center"><%= student.first_name + " " + student.last_name %></td>
      </tr>

      <tr>
        <td align ="center">出身大学</td>
        <td align ="center"><%= student.university %></td>
      </tr>

      <tr>
        <td align ="center">自己紹介</td>
        <td><%= student.student_introduction %></td>
      </tr>

      <tr>
        <td align ="center">保有しているスキル</td>
        <td><%= student.skill %></td>
      </tr>

      <tr>
        <td align ="center">誕生日</td>
        <td align ="center"><%= student.birthday %></td>
      </tr>

      <tr>
        <td align ="center">年次</td>
        <td align ="center"><%= student.year %></td>
      </tr>

    </table>

  <% end %>
<% end %>

<%= render "shared/footer" %>