<header class="top_page_contents">
  <div class="logo">
    C ×　S
  </div>
  
  <div class="navi">
    <ul class="top_logo_company">
      <li><%= link_to "company_新規登録",new_company_registration_path %></li>
      <li><%= link_to "ログイン", "#" %></li>
      <li><%= link_to "ログアウト", "#" %></li>
    </ul>

    <ul class="top_logo_student">
      <li><%= link_to "student_新規登録",new_student_registration_path %></li>
      <li><%= link_to "ログイン", "#" %></li>
      <li><%= link_to "ログアウト", "#" %></li>
    </ul>
  </div>

</header>