<%= render "shared/header" %>


<h1 class="company_name"><%= current_company.company_name+"様 用ページ" %></h1>
<div class="top_container">
  <h1><%= image_tag current_company.image, class:"company_img" %></h1>

  <table class="company_table">
    <tr>
      <th colspan="2">会社概要</th>
    </tr>
    <tr align="center">
      <td>社名</td>
      <td><%= current_company.company_name %></td>
    </tr>
    <tr align="center">
      <td>メールアドレス</td>
      <td><%= current_company.email %></td>
    </tr>
    <tr align="center">
      <td>会社紹介</td>
      <td><%= current_company.company_introduction %></td>
    </tr>
  </table>
</div>

<h1 class="subject">現在募集中の業務</h1>

<% if @company_businesses.present? then %>
  <% @company_businesses.each do |business| %>
    <table class="applied_status">
        <div class ="accepting">
          <tr>
            <th>業務内容</th>
            <th>注目度</th>
            <th>申込者</th>
          </tr>
          <tr>
            <td align="center",class = "business_contents"><%=business.content%></td>
            <td align="center",class = "likes">いいね件数の表示</td>
            <td align="center",class = "student_applicants"> <%= link_to "申込者" , company_business_applied_works_path(current_company.id,business.id) %></td>
          </tr>
        </div>
    </table>
  <% end %>
<% end %>
  

<div class = "link_btn" >
  <div><%= link_to "会社情報編集ページ", edit_company_registration_path %></div>
  <div><%= link_to "業務募集投稿ページ", new_company_business_path(current_company.id) %></div>
</div>

<%= render "shared/footer" %>